---
title: Phase banners
---
<main id="content" role="main">

  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2">feedback</a> will help us to improve it.</span>
    </p>
  </div>
  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="/">GOV.UK elements</a></li>
      <li>Alpha and beta banners</li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">GOV.UK elements</span>
    Alpha and beta banners
  </h1>

  <p class="lede text">
    You have to use an alpha banner if your thing is in alpha, and a beta banner if it’s in beta.
  </p>

  <h2 class="heading-small heading-contents">Contents:</h2>
  <div class="grid-row">
    <div class="column-two-thirds">
      <ul class="list list-contents">
        <li><a href="#alpha-banner">Alpha banner</a></li>
        <li><a href="#beta-banner">Beta banner</a></li>
        <li><a href="#creating-phase-banners">Creating phase banners</a></li>
      </ul>
    </div>
  </div>

<h3 class="heading-medium" id="alpha-banner">Alpha banner</h3>
<div class="example">
  <div class="phase-banner-alpha">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
</div>

<pre class=" language-markup"><code class=" language-markup">
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>phase-banner-alpha<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>strong</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>phase-tag<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>ALPHA<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>strong</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span><span class="token punctuation">&gt;</span></span>This is a new service – your <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>feedback<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span> will help us to improve it.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
</code>
</pre>

<h3 class="heading-medium" id="beta-banner">Beta banner</h3>
<div class="example">
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div></div>

<pre class=" language-markup"><code class=" language-markup">
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>phase-banner-beta<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>strong</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>phase-tag<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>BETA<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>strong</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span><span class="token punctuation">&gt;</span></span>This is a new service – your <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>feedback<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span> will help us to improve it.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code>
</pre>

  <h3 class="heading-medium" id="creating-phase-banners">Creating alpha and beta banners</h3>
  <p class="text">
    Use the GOV.UK Sass phase banner mixin – find this in the GOV.UK frontend toolkit <a href="https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/design-patterns/_alpha-beta.scss">alpha-beta.scss</a> file.
  </p>

  <p>
    <a href="https://designpatterns.hackpad.com/Alpha-and-beta-banners-HpbaBjaYRSJ" rel="external">
      Discuss alpha and beta banners on the design patterns Hackpad
    </a>
  </p>

</main>
