---
title: Internal server error
---
{{#capture 'body'}}
  <p>Sorry, we are experiencing technical problems.</p>
  <p>Please try again in a few moments.</p>
{{/capture}}

{{> pages/land-registry/error-page}}
