.pager-simple {
  @extend %contain-floats;
  margin-top: $gutter;
  margin-bottom: $gutter;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    @include core-16($line-height: (20 / 16));
    float: left;
    list-style: none;
    text-align: right;
    width: 49%;
    margin: 0;
    padding: 0;
  }

  .previous-page,
  .next-page,
  .last-page {
    a,
    .message {
      display: block;

      @include ie-lte(7) {
        height: 4.5em;
      }

      .pagination-part-title {
        @include core-27($line-height: (33.75 / 27));
        margin-bottom: 1em;
        display: block;
      }
    }
  }

  .previous-page,
  .next-page {
    a {
      color: $link-colour;
      text-decoration: none;

      &:hover,
      &:active {
        background-color: $canvas-colour;
      }
    }

    a::before {
      margin-top: -4px;
      display: block;
      width: 30px;
      height: 38px;
      content: ' ';
    }
  }

  .next-page,
  .last-page {
    float: right;
    text-align: right;

    a,
    .message {
      padding: .75em 3em .75em 0;
    }

    .message {
      padding-right: 0;
    }
  }

  .next-page {
    a {
      &::before {
        background: transparent file-url('icons/arrow-sprite.png') no-repeat -102px -11px;
        margin-right: -32px;
        float: right;
      }
    }
  }

  .previous-page {
    float: left;
    text-align: left;

    a {
      padding: .75em 0 .75em 3em;

      &::before {
        background: transparent file-url('arrow-sprite.png') no-repeat -20px -11px;
        margin-left: -32px;
        float: left;
      }
    }
  }
}
