<nav class="pager-simple" role="navigation" aria-label="Pagination">
  <ul>
  {{#with previous}}
    <li class="previous-page">
      <a href="#" rel="prev">
        <span class="pagination-part-title">Previous page</span>
        <span class="pagination-label">{{this}} of {{../total_pages}}</span>
      </a>
    </li>
  {{/with}}

  {{#with next}}
    <li class="next-page">
      <a href="#" rel="next">
        <span class="pagination-part-title">Next page</span>
        <span class="pagination-label">{{this}} of {{../total_pages}}</span>
      </a>
    </li>
  {{/with}}

  {{#with reached_limit}}
    <li class="last-page">
      <div class="message">
        <span class="pagination-part-title">Limit reached</span>
        <span class="pagination-label">This services only displays 50 results</span>
      </div>
    </li>
  {{/with}}
  </ul>
</nav>
