---
title: Phase banners
alpha-banner:
  alpha: true
---
<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  <h3 class="heading-medium" id="alpha-banner">Alpha banner</h3>
  <div class="example">
    {{#with alpha-banner}}{{> elements/govuk/phase-banner }}{{/with}}
  </div>

  <pre class="language-markup"><code>{{#htmlencode}}{{#with alpha-banner}}{{> elements/govuk/phase-banner }}{{/with}}{{/htmlencode}}</code></pre>

  <h3 class="heading-medium" id="beta-banner">Beta banner</h3>
  <div class="example">
    {{> elements/govuk/phase-banner }}
  </div>

  <pre class="language-markup"><code>{{#htmlencode}}{{> elements/govuk/phase-banner }}{{/htmlencode}}</code></pre>

</main>
