---
title: Phase banners
alpha-banner:
  alpha: true
---
<h1 class="heading-xlarge">
  <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
  {{component.name}}
</h1>

<h2 class="heading-medium" id="alpha-banner">Alpha banner</h2>
<div class="example">
  {{#with alpha-banner}}{{> elements/govuk/phase-banner }}{{/with}}
</div>

<pre class="language-markup"><code>{{#htmlencode}}{{#with alpha-banner}}{{> elements/govuk/phase-banner }}{{/with}}{{/htmlencode}}</code></pre>

<h2 class="heading-medium" id="beta-banner">Beta banner</h2>
<div class="example">
  {{> elements/govuk/phase-banner }}
</div>

<pre class="language-markup"><code>{{#htmlencode}}{{> elements/govuk/phase-banner }}{{/htmlencode}}</code></pre>

<h2 class="heading-medium">Standalone tags</h2>
<strong class="phase-tag-alpha">ALPHA</strong>
<strong class="phase-tag-beta">BETA</strong>

<pre class="language-markup"><code>{{#htmlencode}}<strong class="phase-tag-alpha">ALPHA</strong>{{/htmlencode}}</code></pre>
<pre class="language-markup"><code>{{#htmlencode}}<strong class="phase-tag-beta">BETA</strong>{{/htmlencode}}</code></pre>
