/**
 * Top spacing
 */
.spacing-top-flush {
  margin-top: 0!important;
}

.spacing-top-double {
  margin-top: 2 * $gutter!important;
}

.spacing-top-single {
  margin-top: $gutter!important;
}

.spacing-top-half,
.spacing-top-single-half {
  margin-top: $gutter-half!important;
}

.spacing-top-third,
.spacing-top-single-third {
  margin-top: $gutter-one-third!important;
}

/**
 * Bottom spacing
 */
.spacing-bottom-flush {
  margin-bottom: 0!important;
}

.spacing-bottom-double {
  margin-bottom: 2 * $gutter!important;
}

.spacing-bottom-single {
  margin-bottom: $gutter!important;
}

.spacing-bottom-half,
.spacing-bottom-one-half {
  margin-bottom: $gutter-half!important;
}

.spacing-bottom-third,
.spacing-bottom-one-third {
  margin-bottom: $gutter-one-third!important;
}

/**
 * Left spacing
 */
.spacing-left-flush {
  margin-left: 0!important;
}

.spacing-left-double {
  margin-left: 2 * $gutter!important;
}

.spacing-left-single {
  margin-left: $gutter!important;
}

.spacing-left-half,
.spacing-left-one-half {
  margin-left: $gutter-half!important;
}

.spacing-left-third,
.spacing-left-one-third {
  margin-left: $gutter-one-third!important;
}

/**
 * Right spacing
 */
.spacing-right-flush {
  margin-right: 0!important;
}

.spacing-right-double {
  margin-right: 2 * $gutter!important;
}

.spacing-right-single {
  margin-right: $gutter!important;
}

.spacing-right-half,
.spacing-right-one-half {
  margin-right: $gutter-half!important;
}

.spacing-right-third,
.spacing-right-one-third {
  margin-right: $gutter-one-third!important;
}
