{% from 'land_registry_elements/vat-receipt/template.html' import vat_receipt %}

{% extends "app/layout.html" %}

{% block inner_content %}

  {{ readme }}

  <div class="grid-row">
    <div class="column-two-thirds">
      {{ vat_receipt(
        '25 Jan 2016',
        'ABC1234567',
        'Summary of title FAKE177634',
        '£1.67',
        '£0.33',
        '£2.00',
        'GB 8888 181 53',
        address={
          'name': 'Land Registry',
          'streetAddress': ['48 Foo bar', 'Wibble'],
          'addressLocality': 'Plymouth',
          'addressRegion': 'Devon',
          'postalCode': 'PL1 1LP'
        })
      }}
    </div>
  </div>

{% endblock %}
