.split-detail-trigger {
  margin-left: 5px;
  text-decoration: none;
  white-space: nowrap;

  &:visited {
    color: $link-colour;
  }

  &:focus {
    background-color: transparent;
  }

  &::before {
    content: '\25ba';
  }

  &-active {
    &::before {
      content: '\25bc';
    }
  }
}

.split-detail-contents {
  .js-enabled & {
    max-height: 0;
    transition: max-height .3s ease-in-out;
    overflow: hidden;

    &-active {
      max-height: 1000px;
    }
  }
}
