---
title: Slimmed down footer for DRV
pageData:
  hideFooterOGL: true
  hideFooterContactNumbers: true

---
<h1 class="heading-xlarge">
  <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
  {{component.name}}
</h1>

<p>Slimmed down footer in use on DRV</p>
