---
title: Full footer
---
<main id="content" role="main">
  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  <p>Full footer</p>
</main>
