// A tabular definition list mixin - name:value pairs for example
@mixin dl-tabular($col1: $one-quarter, $col2: $three-quarters) {
  @extend %contain-floats;

  dt {
    @include media(false, false, 400px) {
      float: left;
      clear: left;
      width: $col1;
      margin-bottom: $gutter-one-third;
      padding-right: $gutter-half;
    }

    &:after {
      content: ':';
    }
  }

  dd {
    margin-bottom: $gutter-one-third;

    @include media(false, false, 400px) {
      float: left;
      width: $col2;
    }
  }

  ol, ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.definition-tabular {
  @include dl-tabular;
}
