.definition-tabular {
  @extend %contain-floats;

  dt {
    @include media(tablet) {
      float: left;
      clear: left;
      width: $one-quarter;
      margin-bottom: $gutter-one-third;
      padding-right: $gutter-half;
      box-sizing: border-box;
    }

    &:after {
      content: ':';
    }
  }

  dd {
    margin-bottom: $gutter-one-third;

    @include media(tablet) {
      float: left;
      width: $three-quarters;
      margin-left: $one-quarter;
    }
  }

  dt + dd {
    @include media(tablet) {
      margin-left: 0;
    }
  }
}

.definition-tabular-1-2 {
  dt {
    @include media(tablet) {
      width: $one-third;
    }
  }

  dd {
    @include media(tablet) {
      width: $two-thirds;
    }
  }
}

.definition-tabular-sectioned {
  dt {
    @include bold-24();
    margin-top: $gutter-half;
    padding-top: $gutter-half;
    margin-bottom: $gutter-half;
    border-top: 1px solid $border-colour;

    @include media(tablet) {
      float: left;
      clear: left;
      width: $one-quarter;
      margin-bottom: $gutter-one-third;
      padding-right: $gutter-half;
      box-sizing: border-box;
      margin-top: 0;
      padding-top: 0;
      border: 0;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}
