.definition-tabular {
  @extend %contain-floats;

  dt {
    @include media(tablet) {
      float: left;
      clear: left;
      width: $one-quarter;
      margin-bottom: $gutter-one-third;
      padding-right: $gutter-half;
      box-sizing: border-box;
    }

    &:after {
      content: ':';
    }
  }

  dd {
    margin-bottom: $gutter-one-third;

    @include media(tablet) {
      float: left;
      width: $three-quarters;
    }
  }
}

.definition-tabular-1-2 {
  dt {
    @include media(tablet) {
      width: $one-third;
    }
  }

  dd {
    @include media(tablet) {
      width: $two-thirds;
    }
  }
}
