.definition-tabular {
  @extend %contain-floats;

  dt {
    @mixin styles {
      float: left;
      clear: left;
      width: $one-quarter;
      margin-bottom: $gutter-one-third;
      padding-right: $gutter-half;
      box-sizing: border-box;
    }

    @media print, screen and (min-width: 640px) {
      @include styles;
    }

    @include ie(8) {
      @include styles;
    }

    &:after {
      content: ':';
    }
  }

  dd {
    margin-bottom: $gutter-one-third;

    @mixin styles {
      float: left;
      width: $three-quarters;
      margin-left: $one-quarter;
    }

    @media print, screen and (min-width: 640px) {
      @include styles;
    }

    @include ie(8) {
      @include styles;
    }
  }

  dt + dd {
    @mixin styles {
      margin-left: 0;
    }

    @media print, screen and (min-width: 640px) {
      @include styles;
    }

    @include ie(8) {
      @include styles;
    }
  }
}

.definition-tabular-1-2 {
  @mixin styles {
    dt {
      width: $one-third;
    }

    dd {
      width: $two-thirds;
    }
  }

  @media print, screen and (min-width: 640px) {
    @include styles;
  }

  @include ie(8) {
    @include styles;
  }
}

.definition-tabular-sectioned {
  dt {
    @media screen and (max-width: 639px) {
      @include bold-24();
      margin-top: $gutter-half;
      padding-top: $gutter-half;
      margin-bottom: $gutter-half;
      border-top: 1px solid $border-colour;
    }

    @media print, screen and (min-width: 640px) {
      float: left;
      clear: left;
      width: $one-third;
      margin-bottom: $gutter-one-third;
      padding-right: $gutter-half;
      box-sizing: border-box;
      margin-top: 0;
      padding-top: 0;
      border: 0;
      font-size: inherit;
      font-weight: inherit;
    }

    @include media(desktop) {
      width: $one-quarter;
    }
  }

  dd {
    @media print, screen and (min-width: 640px) {
      width: $two-thirds;
      margin-left: $one-third;
    }

    @include media(desktop) {
      width: $three-quarters;
      margin-left: $one-quarter;
    }
  }
}
