<main id="content" role="main">
  {{> elements/govuk/phase-banner }}

  <h1 class="heading-large spacing-top-single">{{title}}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      {{{body}}}
    </div>

    <div class="column-one-third">
      <div class="supplementary-panel">
        <h2 class="heading-medium">Help using this service</h2>
        <p>If you need help using the service you can call Land Registry on <a href="tel:+443000060411">0300 006 0411</a>.</p>
        <p>If you need to speak to someone in Welsh call <a href="tel:+443000060422">0300 006 0422</a>.</p>
      </div>
    </div>
  </div>

</main>
