.pager-simple {
  margin-top: $gutter;
  margin-bottom: $gutter;
  @extend %contain-floats;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    @include core-16($line-height: (20 / 16));
    float: left;
    list-style: none;
    text-align: right;
    width: 49%;
    margin: 0;
    padding: 0;
  }

  .previous-page,
  .next-page {
    a {
      display: block;
      color: $link-colour;
      text-decoration: none;

      @include ie-lte(7) {
        height: 4.5em;
      }

      &:hover,
      &:active {
        background-color: $canvas-colour;
      }

      .pagination-part-title {
        @include core-27($line-height: (33.75 / 27));
        margin-bottom: 0.1em;
        display: block;
      }
    }

    a:before {
      margin-top: -4px;
      display: block;
      width: 30px;
      height: 38px;
      content: " ";
    }
  }

  .next-page {
    float: right;
    text-align: right;

    a {
      padding: 0.75em 3em 0.75em 0;

      &:before {
        background: transparent file-url('icons/arrow-sprite.png') no-repeat -102px -11px;
        margin-right: -32px;
        float: right;
      }
    }
  }

  .previous-page {
    float: left;
    text-align: left;

    a {
      padding: 0.75em 0 0.75em 3em;

      &:before {
        background: transparent file-url('icons/arrow-sprite.png') no-repeat -20px -11px;
        margin-left: -32px;
        float: left;
      }
    }
  }

  .limit-message {
    font-size: inherit;
    text-align: left;
  }
}
