<div class="phase-banner-{{#if alpha}}alpha{{else}}beta{{/if}} printhidden">
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        {{#if alpha}}
          <strong class="phase-tag">ALPHA</strong>
        {{else}}
          <strong class="phase-tag">BETA</strong>
        {{/if}}
        <span>This is a new service – your <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2">feedback</a> will help us to improve it.</span>
      </p>
    </div>
    <div class="column-one-third align-right">
      <a href="#" class="font-xsmall">Sign out</a>
    </div>
  </div>
</div>
