---
title: Typography
---
<h1 class="heading-xlarge">
  <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
  {{component.name}}
</h1>

<div class="grid-row">
  <div class="column-two-thirds">
    This is a telephone link
    <a class="bold" href="tel:+443000060411">0300 006 0411</a>
  </div>
  <div class="column-one-third">
    <p class="align-right">This is right aligned text</p>
  </div>
</div>
