.clear {
  clear: both;
}

.small-viewports-only {
  @include media(tablet) {
    display: none;
  }
}

.large-viewports-only {
  @include media(mobile) {
    display: none;
  }
}

.js-only {
  body:not(.js-enabled) & {
    display: none;
  }
}

