---
title: Print button
---
<h1 class="heading-xlarge">
  <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
  {{component.name}}
</h1>

{{> elements/land-registry/print-button }}

<pre class="language-markup"><code>{{#htmlencode}}{{> elements/land-registry/print-button }}{{/htmlencode}}</code></pre>
