---
title: Print button
---
<main id="content" role="main">
  <h1 class="heading-large">{{title}}</h1>

  <button data-print class="button"><span class="icon icon-print"></span>Print</button>

  <pre class="language-markup"><code>{{#htmlencode}}<button data-print class="button"><span class="icon icon-print"></span>Print</button>{{/htmlencode}}</code></pre>
</main>
