.spacing-top-flush {
  margin-top: 0;
}

.spacing-top-single {
  margin-top: $gutter;
}

.spacing-top-half,
.spacing-top-single-half {
  margin-top: $gutter-half;
}

.spacing-top-third,
.spacing-top-single-third {
  margin-top: $gutter-one-third;
}

.spacing-bottom-flush {
  margin-bottom: 0;
}

.spacing-bottom-one {
  margin-bottom: $gutter;
}

.spacing-bottom-half,
.spacing-bottom-one-half {
  margin-bottom: $gutter-half;
}

.spacing-bottom-third,
.spacing-bottom-one-third {
  margin-bottom: $gutter-one-third;
}
