.spacing-top-flush {
  margin-top: 0!important;
}

.spacing-top-double {
  margin-top: 2 * $gutter!important;
}

.spacing-top-single {
  margin-top: $gutter!important;
}

.spacing-top-half,
.spacing-top-single-half {
  margin-top: $gutter-half!important;
}

.spacing-top-third,
.spacing-top-single-third {
  margin-top: $gutter-one-third!important;
}

.spacing-bottom-flush {
  margin-bottom: 0!important;
}

.spacing-bottom-double {
  margin-bottom: 2 * $gutter!important;
}

.spacing-bottom-single {
  margin-bottom: $gutter!important;
}

.spacing-bottom-half,
.spacing-bottom-one-half {
  margin-bottom: $gutter-half!important;
}

.spacing-bottom-third,
.spacing-bottom-one-third {
  margin-bottom: $gutter-one-third!important;
}
