<nav class="pager" role="navigation" aria-label="Pagination">

  <div class="pager-controls">

  {{#if prev}}
    <a class="pager-prev" href="#" rel="prev">Prev</a>
  {{/if}}

    <ul class="pager-items">
      {{#each items}}
        <li>
          {{#unless current}}<a href="#">{{/unless}}{{page}}{{#unless current}}</a>{{/unless}}
        </li>
      {{/each}}
    </ul>

  {{#if next}}
    <a class="pager-next" href="#" rel="next">Next</a>
  {{/if}}

  </div>

  <div class="pager-summary">Showing {{start}} &ndash; {{end}} of {{total}} items</div>

</div>
