---
title: Breadcrumbs
---
<main id="content" role="main">
  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Linked crumbtrail item</a></li>
      <li><a href="/">Another linked crumbtrail item</a></li>
      <li>Title of this page, unlinked</li>
    </ol>
  </div>

  <pre class="language-markup"><code>{{#htmlencode}}<div class="breadcrumbs">
  <ol>
    <li><a href="/">Linked crumbtrail item</a></li>
    <li><a href="/">Another linked crumbtrail item</a></li>
    <li>Title of this page, unlinked</li>
  </ol>
</div>{{/htmlencode}}</code></pre>

</main>
