<main id="content" role="main">
  {{> elements/govuk/phase-banner }}

  <h1 class="heading-large">What information are you looking for?</h1>

  <div class="grid-row spacing-top-single">

    <div class="column-two-thirds tablet-column-two-thirds">

      <form method="GET" data-clientside-validation="information_form_validation" data-clientside-validation-no-summary>

        <fieldset class="form-group">
          <legend class="visuallyhidden">What information are you looking for?</legend>

          <h2 class="heading-small">Available from this service</h2>

          <label class="block-label" for="title_register_and_summary">
            <input id="title_register_and_summary" type="radio" name="information" value="title_register_and_summary">
            Title summary <span class="font-xsmall">- brief facts from the register</span><br>
            <strong class="bold-small">£3</strong> <span class="font-xsmall">inc VAT</span><br>
          </label>

          <details class="clear">
            <summary class="font-xsmall">What is the title summary?</summary>

            <div class="panel panel-border-narrow spacing-bottom-double">
              <p>The <strong class="bold-small">title summary</strong> is available to view online. It gives reduced information from the full register in a clearer, simpler format. It includes:</p>
              <ul class="list list-bullet">
                <li>property address and title number</li>
                <li>current owner’s name and address</li>
                <li>what they paid for the property</li>
                <li>whether the property is freehold or leasehold (known as ‘tenure’)</li>
                <li>if there is a mortgage on the property, the lender’s name and address</li>
              </ul>
            </div>
          </details>

          <h2 class="heading-small">Available from Land Registry ‘Find a Property’</h2>
          <label class="block-label" for="full_title_documents">
            <input id="full_title_documents" type="radio" name="information" value="full_title_documents">
            Full title documents &ndash; <span class="font-xsmall">the title register and title plan</span><br>
            <strong class="bold-small">£3 each</strong> or <strong class="bold-small">£6 for both</strong>, <span class="font-xsmall">no VAT payable</span><br>
          </label>

          <details class="clear">
            <summary class="font-xsmall">What are title documents?</summary>

            <div class="panel panel-border-narrow">
              <p>Title documents are available in PDF format to download and keep.</p>
              <p>The <strong class="bold-small">title register</strong> has details about the property or land, including:</p>

              <ul class="list list-bullet">
                <li>title number</li>
                <li>who owns it</li>
                <li>what they paid for it (properties only, if available)</li>
                <li>any rights of way, restrictions and covenants</li>
                <li>whether a mortgage on it has been ‘discharged’, eg paid off</li>
              </ul>

              <p>The <strong class="bold-small">title plan</strong> is a map showing:</p>

              <ul class="list list-bullet">
                <li>the property’s location</li>
                <li>the general boundaries &ndash; find out how to <a href="#">get exact boundary information</a></li>
              </ul>
            </div>
          </details>

          <h2 class="heading-small">Available by post</h2>
          <label class="block-label" for="official_copy">
            <input id="official_copy" type="radio" name="information" value="official_copy">
            Official copies <span class="font-xsmall">&ndash; prove ownership, eg for a court case or visa application</span><br>
            <strong class="bold-small">£7 per copy</strong> <span class="font-xsmall">no VAT payable</span>
          </label>

        </fieldset>

        <input type="submit" class="button" value="Continue">
      </form>

      <script type="application/json" id="information_form_validation">
        {
          "information": {
            "presence": {
              "message": "Please choose an option"
            }
          }
        }
      </script>
    </div>
  </div>

</main>
