---
title: Breadcrumbs
breadcrumb-demo:
  -
    text: Linked crumbtrail item
    href: '#'
  -
    text: Another linked crumbtrail item
    href: '#'
  -
    text: 'Title of this page, unlinked'
---
<main id="content" role="main">

  {{#with breadcrumb-demo }}
    {{> elements/land-registry/breadcrumbs }}
  {{/with}}

  {{#markdown}}{{component.readme}}{{/markdown}}

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  <p>See above!</p>

  {{#with breadcrumb-demo }}
    <pre class="language-markup"><code>{{#htmlencode}}{{> elements/land-registry/breadcrumbs }}{{/htmlencode}}</code></pre>
  {{/with}}

</main>
