.fpi-map-container {
  position: relative;
  margin: 0 auto;
  max-width: 300px;

  @include media(desktop) {
    max-width: none;
  }
}

.island {
  border: 4px solid $border-colour;
  padding: $gutter / 2;
}
