.pager {
  margin-top: em(5, 16);
  margin-bottom: em(20, 16);
  @extend %contain-floats;

  @include media(tablet) {
    margin-top: em(5);
    margin-bottom: em(20);
  }
}

.pager__summary {
  @include media(tablet) {
    float: left;
  }
}

.pager__items {
  display: none;

  @include media(tablet) {
    display: inline;

    li {
      display: inline;
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.pager__prev,
.pager__next {
  margin-right: 10px;
}

.pager__next {
  @include media(tablet) {
    margin-right: 0;
    margin-left: 10px;
  }
}

.pager__controls {
  @include media(tablet) {
    float: right;
  }
}
