---
title: Typography
---
<div class="phase-banner-alpha">
  <p>
    <strong class="phase-tag">ALPHA</strong>
    <span>This is a new service – your <a href="https://designpatterns.hackpad.com/GOV.UK-elements-feedback-sKrDyQxcfA2">feedback</a> will help us to improve it.</span>
  </p>
</div>
<div class="breadcrumbs">
  <ol>
    <li><a href="/">GOV.UK elements</a></li>
    <li>Typography</li>
  </ol>
</div>

<h1 class="heading-xlarge">
  <span class="heading-secondary">GOV.UK elements</span>
  Typography
</h1>

<div class="text">
  <p class="lede">
    For GOV.UK domains, always use the GDS Transport Website font in Light and Bold.
  </p>
</div>

<h2 class="heading-small heading-contents">Contents:</h2>
<div class="grid-row">
  <div class="column-two-thirds">
    <ul class="list list-contents">
      <li><a href="#typography-font">Font</a></li>
      <li><a href="#typography-headings">Headings</a></li>
      <li><a href="#typography-lead-paragraph">Lead paragraph</a></li>
      <li><a href="#typography-body-copy">Body copy</a></li>
      <li><a href="#typography-links">Links</a></li>
      <li><a href="#typography-lists">Lists</a></li>
      <li><a href="#typography-inset-text">Inset text</a></li>
      <li><a href="#typography-legal-text">Legal text</a></li>
      <li><a href="#typography-hidden-text">Hidden text</a></li>
      <li><a href="#examples">Examples</a></li>
    </ul>
  </div>
</div>

<h3 class="heading-medium" id="typography-font">Font</h3>
<div class="text">
  <p>
    Use the GDS Transport Website font in Light and Bold. It's licensed for use on the GOV.UK domains only.
  </p>
  <p>
    For services publicly available on different domains, use an alternative typeface like Arial.
  </p>
</div>

<h3 class="heading-medium" id="typography-headings">
  Headings
</h3>

<ul class="list list-bullet text">
  <li>use GDS Transport Website Bold</li>
  <li>use sentence case for headings</li>
  <li>use headings consistently to create a clear hierarchy</li>
</ul>

<div class="example">
<h1 class="heading-xlarge">A <em class="highlight">48px Bold</em> heading</h1>

<h2 class="heading-large">A <em class="highlight">36px Bold</em> heading</h2>

<h3 class="heading-medium">A <em class="highlight">24px Bold</em> heading</h3>

<h4 class="heading-small">A <em class="highlight">19px Bold</em> heading</h4>
</div>

<pre class=" language-markup"><code class=" language-markup">
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h1</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>heading-xlarge<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>A 48px Bold heading<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h1</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h2</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>heading-large<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>A 36px Bold heading<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h2</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h3</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>heading-medium<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>A 24px Bold heading<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h3</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h4</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>heading-small<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>A 19px Bold heading<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h4</span><span class="token punctuation">&gt;</span></span>
</code>
</pre>

<h3 class="heading-medium" id="typography-lead-paragraph">
  Lead paragraph
</h3>

<ul class="list list-bullet">
  <li>use 24px for a lead paragraph</li>
  <li>there should only be one lead paragraph per page</li>
</ul>

<div class="example">
<div class="text">
  <p class="lede">
    A <em class="highlight">24px</em> lead paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.
  </p>

  <p>
    A <em class="highlight">19px</em> body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.
  </p>
</div>
</div>

<pre class=" language-markup"><code class=" language-markup">
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>lede<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  A 24px lead paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>
  A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna.
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
</code>
</pre>

<h3 class="heading-medium" id="typography-body-copy">
  Body copy
</h3>

<ul class="list list-bullet text">
  <li>use GDS Transport Website Light</li>
  <li>avoid using bold and italics</li>
  <li>use 19px for body copy – 16px for smaller screens</li>
  <li>use smaller sizes only if there's a user need (eg 16px, 14px, 12px)</li>
  <li>make sure lines of text don't exceed 75 characters, as they become harder to read beyond that point</li>
</ul>

<div class="example">
<div class="text">
  <p>
    A <em class="highlight">19px</em> body copy paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
  </p>

  <p class="font-xsmall">
    A <em class="highlight">16px</em> supporting text paragraph. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
  </p>
</div>
</div>

<pre class=" language-markup"><code class=" language-markup">
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>
  A 19px body copy paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>font-xsmall<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  A 16px supporting text paragraph, maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
</code>
</pre>

<h3 class="heading-medium" id="typography-links">Links</h3>
<ul class="list list-bullet text">
  <li>links within body copy should be blue and underlined</li>
  <li>links without surrounding text should not have a full stop at the end</li>
  <li>link colours can be found in the <a href="/components/core/color">colour palette</a></li>
</ul>

<div class="example">
<div class="text">
  <p>
    <a href="#">A 19px link without surrounding text</a>
  </p>

  <p>
    <a href="#">A 19px body copy link</a>. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  </p>

  <p>
    <a href="#" rel="external">A 19px body copy external link.</a> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  </p>


  <a href="#" class="link-back">Back</a>  </div>
</div>

<pre class=" language-markup"><code class=" language-markup">
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>A 19px link without surrounding text<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>A 19px body copy link<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span> <span class="token attr-name">rel</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>external<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>A 19px body copy external link.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span> Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>


<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>link-back<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Back<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span></code>
</pre>

<h3 class="heading-medium" id="typography-lists">Lists</h3>
<p class="text">
  List items start with a lowercase letter and have no full stop at the end.
</p>

<div class="example">
<ul class="list list-bullet">
  <li>here is a bulleted list</li>
  <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
  <li>vestibulum id ligula porta felis euismod semper</li>
  <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
</ul>

<ol class="list list-number">
  <li>here is a numbered list</li>
  <li>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor</li>
  <li>vestibulum id ligula porta felis euismod semper</li>
  <li>integer posuere erat a ante venenatis dapibus posuere velit aliquet</li>
</ol>

<ul class="list">
  <li><a href="#">Related link</a></li>
  <li><a href="#">Related link</a></li>
  <li><a href="#">Related link</a></li>
  <li><a href="#" class="bold-xsmall">More</a></li>
</ul>
</div>

<pre class=" language-markup"><code class=" language-markup">
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list list-bullet<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>here is a bulleted list<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>vestibulum id ligula porta felis euismod semper<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>integer posuere erat a ante venenatis dapibus posuere velit aliquet<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ol</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list list-number<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>here is a numbered list<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>vestibulum id ligula porta felis euismod semper<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>integer posuere erat a ante venenatis dapibus posuere velit aliquet<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ol</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>list<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Related link<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Related link<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Related link<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>bold-xsmall<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>More<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span>
</code>
</pre>

<h3 class="heading-medium" id="typography-inset-text">Inset text</h3>
<p class="text">
  Use bordered inset text to draw attention to important content on the page.
</p>

<div class="example">
<div class="text">
  <div class="panel panel-border-wide">
    <p>
      It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
    </p>
  </div>
</div>
</div>

<pre class=" language-markup"><code class=" language-markup">
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>panel panel-border-wide<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>
    It can take up to 8 weeks to register a lasting power of attorney if there are no mistakes in the application.
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
</code>
</pre>

<h3 class="heading-medium" id="typography-legal-text">Legal text</h3>
<p class="text">
  Use bold text with an exclamation icon if there are legal consequences - for example, a fine or prison sentence.
</p>

<div class="example">
<div class="text">
  <div class="notice">
    <i class="icon icon-important">
      <span class="visuallyhidden">Warning</span>
    </i>
    <strong class="bold-small">
      You can be fined up to £5,000 if you don’t register.
    </strong>
  </div>
</div>
</div>

<pre class=" language-markup"><code class=" language-markup">
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>notice<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>i</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>icon icon-important<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>visuallyhidden<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Warning<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>i</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>strong</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>bold-small<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    You can be fined up to £5,000 if you don’t register.
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>strong</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
</code>
</pre>

<h3 class="heading-medium" id="typography-hidden-text">Hidden text (progressive disclosure)</h3>
<p class="text">
  Use this to make your page easier to scan,
  only showing contextual information when required.
</p>
<p class="text">
  Click on "Help with nationality" to see how this works.
</p>

<div class="example">
<details role="group">

  <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Help with nationality</span></summary>

  <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">

    <p>
      If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
    </p>

    <p>
      We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.
    </p>

  </div>

</details>
</div>

<pre class=" language-markup"><code class=" language-markup">
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>details</span><span class="token punctuation">&gt;</span></span>

  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>summary</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>summary<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Help with nationality<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>summary</span><span class="token punctuation">&gt;</span></span>

  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>panel panel-border-narrow<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>

    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>
      If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>

    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>
      We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity documents through the post.
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>

  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>

<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>details</span><span class="token punctuation">&gt;</span></span>
</code>
</pre>


<h3 class="heading-medium" id="examples">Examples</h3>
<ul class="list list-bullet">
  <!-- <li>
    <a href="/typography/example-typography/">
      an example typography page
    </a>
  </li>
  <li>
    <a href="/typography/example-details-summary/">
      the HTML details and summary elements (an example of progressive disclosure)
    </a>
  </li> -->
</ul>
