<div class="vat-receipt font-xsmall">
  <div class="grid-row">
    <div class="column-two-thirds mobile-column-one-half">
      <dl class="definition-tabular definition-tabular-1-2">

        <dt class="bold">Date</dt>
        <dd>25 Jan 2016</dd>

        <dt class="bold">Invoice number</dt>
        <dd>ABC1234578</dd>

        <dt class="bold">Items</dt>
        <dd>Summary of title FAKE177634</dd>

        <dt class="bold">Net value</dt>
        <dd>&pound;1.67</dd>

        <dt class="bold">VAT @ 20%</dt>
        <dd>&pound;0.33</dd>

        <dt class="bold">Total inc VAT</dt>
        <dd>&pound;2.00</dd>
      </dl>
    </div>

    <div class="column-one-third mobile-column-one-half">
      {{#with address}}{{> elements/land-registry/address }}{{/with}}
      <p class="spacing-top-one-third"><strong class="bold">VAT registration number:</strong><br> GB 8888 181 53</p>
    </div>
  </div>
</div>
