.back-link {
  text-decoration: none;
  @include core-16;
  margin-top: $gutter-half;
  display: inline-block;
  position: relative;
  padding-left: 20px;

  &,
  &:visited {
    color: $link-colour;
  }

  &:before {
    content: '\25C0 ';
    font-family: dingbats, arial unicode ms, sans-serif;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 90%;
  }
}

.back-link-prefix {
  @include media(mobile) {
    display: none;
  }
}

.back-link-destination {
  @include media(tablet) {

    .back-link-prefix + & {
      text-transform: lowercase;
    }
  }
}
