---
title: Property summary
---
<main id="content" role="main">
  <h1 class="heading-large">{{title}}</h1>

  <dl class="definition-tabular">

    <dt>Address</dt>
    <dd class="bold-medium">
      1 Pretend Street<br>
      Trumpton<br>
      TR15 5RZ<br>
    </dd>

    <dt>Owner</dt>
    <dd><span class="bold-small">Bob Smith</span><br>
      1 Pretend Street<br>
      Trumpton<br>
      TR15 5RZ<br>
    </dd>

    <dt>Tenure type</dt>
    <dd class="bold-small">Freehold</dd>

  </dl>
</main>
