<input class="form-control" type="email" id="email" name="email">

<div class="panel panel-border-narrow email-hint spacing-top-single">
  <p>Please ensure your email address is displayed correctly below. We will need this if you need to reset your password in future.</p>
  <p id="email-hint-value" class="bold">EMAIL HINT HERE (DONT DISPLAY TIL PEOPLE HAVE TYPED!)</p>
</div>
