---
title: Layout
---
<main id="content" role="main">

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  {{#markdown}}{{component.readme}}{{/markdown}}

  <hr>

  <div class="example example-grid">
    <div class="grid-row">
      <div class="column-one-half">
        <code>.column-one-half</code>
      </div>

      <div class="column-one-half">
        <code>.column-one-half</code>
      </div>
    </div>

    <br>

    <div class="grid-row">
      <div class="column-one-third">
        <code>.column-one-third</code>
      </div>

      <div class="column-one-third">
        <code>.column-one-third</code>
      </div>

      <div class="column-one-third">
        <code>.column-one-third</code>
      </div>
    </div>

    <br>

    <div class="grid-row">
      <div class="column-two-thirds">
        <code>.column-two-thirds</code>
      </div>

      <div class="column-one-third">
        <code>.column-one-third</code>
      </div>
    </div>

    <br>

    <div class="grid-row">
      <div class="column-one-third">
        <code>.column-one-third</code>
      </div>

      <div class="column-two-thirds">
        <code>.column-two-thirds</code>
      </div>
    </div>

    <br>

    <div class="grid-row">
      <div class="column-one-quarter">
        <code>.column-one-quarter</code>
      </div>

      <div class="column-one-quarter">
        <code>.column-one-quarter</code>
      </div>

      <div class="column-one-quarter">
        <code>.column-one-quarter</code>
      </div>

      <div class="column-one-quarter">
        <code>.column-one-quarter</code>
      </div>
    </div>
  </div>
</main>
