.back-link {
  text-decoration: none;
  @include core-16;
  margin-top: $gutter-half;
  display: inline-block;

  &:before {
    content: '\25C0 ';
    margin-right: 8px;
  }
}

.back-link-prefix {
  @include media(mobile) {
    display: none;
  }
}

.back-link-destination {
  @include media(tablet) {
    text-transform: lowercase;
  }
}
