<a class="back-link{{#if historyBased}} js-only{{/if}}" href="#" {{#if historyBased}} data-back-link{{/if}}>
  {{#if backPrefix}}<span class="back-link-prefix">{{backPrefix}}</span>{{/if}}
  <span class="back-link-destination">{{backDestinationTitle}}</span>
</a>
