---
title: Vertical spacing

---
<main id="content" role="main">
  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  <div style="background-color: #999">&nbsp;</div>

  <div style="background-color: #333;color:#fff" class="spacing-top-flush"><code>.spacing-top-flush</code></div>

  <div style="background-color: #333;color:#fff" class="spacing-top-one"><code>.spacing-top-one</code></div>

  <div style="background-color: #333;color:#fff" class="spacing-top-half"><code>.spacing-top-half</code></div>

  <div style="background-color: #333;color:#fff" class="spacing-top-third"><code>.spacing-top-third</code></div>

  <div style="background-color: #333;color:#fff" class="spacing-top-one spacing-bottom-one"><code>.spacing-top-one.spacing-bottom-one</code></div>

  <div style="background-color: #333;color:#fff" class="spacing-bottom-third"><code>.spacing-bottom-third</code></div>

  <div style="background-color: #333;color:#fff" class="spacing-bottom-half"><code>.spacing-bottom-half</code></div>

  <div style="background-color: #333;color:#fff" class="spacing-bottom-one"><code>.spacing-bottom-one</code></div>

  <div style="background-color: #333;color:#fff" class="spacing-bottom-flush"><code>.spacing-bottom-flush</code></div>

  <div style="background-color: #999">&nbsp;</div>

</main>
