{% from 'land-registry-elements/back-link/template.html' import back_link %}
{% extends "app/layout.html" %}


{% block inner_content %}
  <h1 class="heading-large">Back links</h1>

  <h2 class="heading-medium">JavaScript History based backlink</h2>
  {% set demo -%}
    {{ back_link(history_based=True) }}
  {%- endset %}

  <div class="grid-row">
    <div class="column-half">
      {{demo}}
    </div>
    <div class="column-half">
      <pre class="font-xsmall"><code>{{demo|forceescape}}</code></pre>
    </div>
  </div>

  <br><br>


  <h2 class="heading-medium">Simple backlink</h2>

  {% set demo -%}
    {{ back_link('Destination title', '/search') }}
  {%- endset %}

  <div class="grid-row">
    <div class="column-half">
      {{demo}}
    </div>
    <div class="column-half">
      <pre class="font-xsmall"><code>{{demo|forceescape}}</code></pre>
    </div>
  </div>

  <br><br>


  <h2 class="heading-medium">Backlink with a "prefix" which is hidden on small viewports</h2>
  {% set demo -%}
    {{ back_link('Destination title', '/search', 'Back to') }}
  {%- endset %}

  <div class="grid-row">
    <div class="column-half">
      {{demo}}
    </div>
    <div class="column-half">
      <pre class="font-xsmall"><code>{{demo|forceescape}}</code></pre>
    </div>
  </div>
{% endblock %}
