{% macro address_simple(streetAddress) -%}
  <div class="address">
    {%- for line in streetAddress %}
      <span class="address__line">{{line}}</span>
    {%- endfor %}
  </div>
{%- endmacro -%}

{% macro address(streetAddress, addressLocality=False, addressRegion=False, postalCode=False) %}
  <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
    {% if streetAddress %}
    <span class="address__line" itemprop="streetAddress">
      {% for line in streetAddress %}{{line}}{% if not loop.last %}<br>{% endif %}{% endfor %}
    </span>
    {% endif %}
    {% if addressLocality %}<span class="address__line" itemprop="addressLocality">{{addressLocality}}</span>{% endif %}
    {% if addressRegion %}<span class="address__line" itemprop="addressRegion">{{addressRegion}}</span>{% endif %}
    {% if postalCode %}<span class="address__line" itemprop="postalCode">{{postalCode}}</span>{% endif %}
  </div>
{% endmacro %}

{% macro address_person(name, streetAddress, addressLocality=False, addressRegion=False, postalCode=False) %}
  <div itemscope itemtype="http://schema.org/Person">
    <span itemprop="name" class="bold">{{name}}</span>

    {{ address(streetAddress, addressLocality, addressRegion, postalCode) }}
  </div>
{% endmacro %}

{% macro address_organization(name, streetAddress, addressLocality=False, addressRegion=False, postalCode=False) %}
  <div itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name" class="bold">{{name}}</span>

    {{ address(streetAddress, addressLocality, addressRegion, postalCode) }}
  </div>
{% endmacro %}
