---
title: Language switcher
language-switchers:
  -
    english: true
  -
    welsh: true
---
<main id="content" role="main">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
      {{component.name}}
    </h1>

    {{#each language-switchers}}
      <div class="grid-row">
        <div class="column-quarter">
          {{> elements/land-registry/language-switcher }}
        </div>
        <div class="column-three-quarters">
          <pre class="language-markup"><code>{{#htmlencode}}{{> elements/land-registry/language-switcher }}{{/htmlencode}}</code></pre>
        </div>
      </div>

      <hr>
    {{/each}}

</main>
