{% extends "app/layout.html" %}

{% block inner_content %}
  <h1 class="heading-large">Land Registry Elements: Index</h1>

  <h2 class="heading-medium">Base UI components</h2>
  <p>The following list of components are designed to be production ready HTML/CSS/JS to be used in services.</p>
  <p>In isolation, they may not address a specific user need but represent small building blocks which can be used to form larger patterns.</p>
  <ul class="list list-bullet">
    {% for demo in demos %}
      <li><a href="/{{demo}}">{{demo}}</a></li>
    {% endfor %}
  </ul>

  <h2 class="heading-medium">UI patterns</h2>
  <p>The following represent larger UI patterns that are intended to solve specific user needs.</p>

  <ul class="list list-bullet">
    <li>Do we have any?!</li>
    <li>For example - is our "Language switcher" a component or a pattern?
    <li>We could use this list initially to curate patterns from elsewhere which we "approve of"</li>
  </ul>
{% endblock %}
