{% set page_title = 'Gadget GOV.UK UI' %}
{% set asset_path = url_for('static', filename='') %}

{% extends "app/vendor/govuk_template.html" %}

{% block head %}
  <!--[if gt IE 8]><!--><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main.css') }}" /><!--<![endif]-->
  <!--[if IE 8]><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/main-ie8.css') }}" /><![endif]-->
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block proposition_header %}
  <div class="header-proposition">
    <div class="content">
      <div id="proposition-menu">
        <a id="proposition-name" href="/">{{ service_name }}</a>

        <ul id="proposition-links">
          <li><a href="{{ url_for('components.index') }}">Main list of components</a></li>
          <li><a href="{{ url_for('incubation_area.index') }}">Incubation area</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block cookie_message %}<p>HM Land Registry uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>{% endblock %}

{% block body_end %}
  <script type=text/javascript src="{{ url_for('static', filename='javascripts/jquery.min.js') }}"> </script>
  <script type=text/javascript src="{{ url_for('static', filename='javascripts/main.js') }}"> </script>
{% endblock %}

{% block content %}
  <main role="main" id="content">
    {% block inner_content %}{% endblock %}
  </main>
{% endblock %}
