---
title: Complex pagination
variants:
  -
    start: 1
    end: 50
    total: 735
    items:
      -
        page: 1
        current: true
      - page: 2
      - page: 3
      - page: 4
      - page: 5
    prev: false
    next: true
  -
    start: 400
    end: 450
    total: 735
    items:
      - page: 6
      - page: 7
      -
        page: 8
        current: true
      - page: 9
      - page: 10
    prev: true
    next: true
  -
    start: 600
    end: 650
    total: 735
    items:
      - page: 10
      - page: 11
      -
        page: 12
        current: true
      - page: 13
      - page: 14
    prev: true
    next: false
---
<main id="content" role="main">
  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  {{#each variants}}
    {{> elements/land-registry/pagination-complex }}

    <pre class="language-markup"><code>{{#htmlencode}}{{> elements/land-registry/pagination-complex }}{{/htmlencode}}</code></pre>

    <br><hr><br>
  {{/each}}

</main>
