{{> elements/govuk/phase-banner }}

<h1 class="heading-large">Register</h1>

<div class="grid-row">

  <div class="column-two-thirds tablet-column-two-thirds">

    <p class="lede">Due to the information this service reveals we ask users to register with us so we can monitor access.</p>

    <form class="spacing-top-double" action="" method="post" novalidate data-clientside-validation="create_account_form_validation">

      <fieldset>

        <legend class="visuallyhidden">Account details</legend>

        <div class="form-group">
          <label class="form-label" for="email">Email address <a href="#why-do-we-need-email" class="font-xsmall split-detail-trigger spacing-left-single">Why do we need this?</a></label>

          <div class="split-detail-contents font-xsmall" id="why-do-we-need-email">
            <div class="panel panel-border-narrow spacing-bottom-single spacing-top-half">
              <p>Your email address will be used to log into the service in future. We will also use this to allow you to reset your password.</p>
              <p>We won't use your email address for any purposes other than access to this service.</p>
              <p>We won't share your email with third parties.</p>
            </div>
          </div>

          {{> elements/land-registry/email-repeat }}

        </div>

        <div class="form-group">
          {{> elements/land-registry/password-reveal }}

          <p class="form-hint">Your password must:</p>
          <ul class="form-hint list list-bullet">
            <li>be between 8 and 20 characters</li>
            <li>contain at least 1 letter and 2 numbers</li>
            <li>not be the same as your email address</li>
            <li>not contain the symbols &pound; &#x20AC; &#x00AC; &#x00A6;</li>
          </ul>

        </div>

      </fieldset>

      <h2 class="heading-medium">Your details</h2>

      <fieldset>

        <legend class="visuallyhidden">Your details</legend>

        <div class="form-group">
          <label class="form-label" for="title">Title</label>
          <select class="form-control" id="title" name="title">
            <option value="">Please select</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-label" for="firstname">First name</label>
          <input class="form-control" type="text" id="firstname" name="firstname">
        </div>

        <div class="form-group">
          <label class="form-label" for="surname">Surname</label>
          <input class="form-control" type="text" id="surname" name="surname">
        </div>

      </fieldset>

      <h2 class="heading-medium">Address</h2>

      <fieldset>

        <legend class="visuallyhidden">Address</legend>

        <div class="form-group">
          <label class="form-label" for="address">First line of your address</label>
          <input class="form-control" type="text" id="address" name="address">
        </div>

        <div class="form-group">
          <label class="form-label" for="city">City</label>
          <input class="form-control" type="text" id="city" name="city">
        </div>

        <div class="form-group">
          <label class="form-label" for="country">Country</label>
          <select class="form-control" id="country" name="country">
            <option value="GB" selected="">United Kingdom</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-label" for="postcode">Postcode</label>
          <input class="form-control" type="text" id="postcode" name="postcode">
        </div>

      </fieldset>

      <div class="form-group spacing-top-single">
        <label class="block-label" for="terms">
          <input id="terms" name="terms" type="checkbox" value="terms">
          I have read and agree to the <a href="terms_and_conditions">Terms and Conditions</a>
        </label>
      </div>

      <input type="submit" class="button spacing-top-single" value="Register">
    </form>

    <script type="application/json" id="create_account_form_validation">
      {
        "email": {
          "email": true,
          "presence": {
            "message": "Email address is required"
          }
        },
        "pass": {
          "presence": {
            "message": "Password is required"
          },
          "length": {
            "minimum": 8,
            "maximum": 20,
            "message": "Password should be between 8 and 20 characters long. Characters can include letters, number and symbols."
          },
          "find_property_information_password": true
        },
        "terms": {
          "presence": {
            "message": "You must agree to our terms and conditions before continuing"
          }
        }
      }
    </script>

  </div>
</div>
