.warning {
  background-color: #fff2d3;
  padding: $gutter-two-thirds;
  margin: $gutter 0;

  .media__body {
    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
