.button {
  .icon {
    vertical-align: middle;
    margin-right: govuk-spacing(2);
  }
}

.button--light {
  background-color: govuk-colour("grey-4");
  color: $govuk-text-colour;

  &:hover {
    background-color: govuk-colour("grey-3");
    color: $govuk-text-colour;
  }

  &:focus,
  &:active {
    background-color: $govuk-focus-colour;
    color: $govuk-text-colour;
  }
}

.button--waiting {
  &,
  &[disabled='disabled'],
  &[disabled] {
    padding-left: 40px;
    background-image: url($landregistry-elements-images-path + 'button/spinner.gif');
    background-repeat: no-repeat;
    background-position: 10px center;
  }
}

body::after {
  // Preload the spinner
  content: url($landregistry-elements-images-path + 'button/spinner.gif');
  position: absolute;
  left: -10000px;
}
