.lre-button--waiting {
  &,
  &[disabled='disabled'],
  &[disabled] {
    padding-left: 40px;
    background-image: url($landregistry-elements-images-path + 'button/spinner.gif');
    background-repeat: no-repeat;
    background-position: 10px center;
  }
}

body::after {
  // Preload the spinner
  content: url($landregistry-elements-images-path + 'button/spinner.gif');
  position: absolute;
  left: -10000px;
}
