<footer class="group js-footer" id="footer" role="contentinfo">

  <div class="footer-wrapper">
    {{{ footerTop }}}

    <div class="footer-meta">
      <div class="footer-meta-inner">
        <ul>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li>Built by the <a href="https://www.gov.uk/government/organisations/land-registry">Land Registry</a></li>

          {{#unless hideFooterContactNumbers}}
            <li>If you need help using the service you can call Land Registry on <a href="tel:+443000060411">0300 006 0411.</a> If you need to speak to someone in Welsh call <a href="tel:+443000060411">0300 006 0422</a>.</li>
          {{/unless}}
        </ul>

        {{#unless hideFooterOGL}}
          <div class="open-government-licence">
            <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

            <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
          </div>
        {{/unless}}
      </div>

      <div class="copyright">
        <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; Crown copyright</a>
      </div>
    </div>
  </div>
</footer>

<!--end footer-->
