---
title: Back link
demo:
  backDestinationTitle: Search results
---
<main id="content" role="main">
  {{> elements/govuk/phase-banner }}

  <div class="grid-row printhidden">
    <div class="column-two-thirds mobile-column-one-half">
      {{#with demo}}{{> elements/land-registry/back-link }}{{/with}}
    </div>

    <div class="column-third mobile-column-one-half">
      {{> elements/land-registry/language-switcher }}
    </div>
  </div>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{component.categories.primary}} / {{component.categories.secondary}}</span>
    {{component.name}}
  </h1>

  <p>See above for demo.</p>

  {{#markdown}}{{component.readme}}{{/markdown}}

  <pre class="language-markup"><code>{{#htmlencode}}{{#with demo}}{{> elements/land-registry/back-link }}{{/with}}{{/htmlencode}}</code></pre>


</main>
